/* MOBILE VERSION */
@media screen and (max-width: 1424px) {
      
   body {
        width: 100%;
        height: auto;
       overflow-x:hidden;
       overflow: hidden;
   }

   html{
       overflow-x: hidden;
   }

   
   .logo{
       cursor: pointer;
       position: absolute;
       top: 0px;
       max-width: 150px;
       z-index: 3;
   }

   .nav_links{
       background-color: #F6F6F3;
       padding: 0%;
       width: 100%;
       height: 100%;
       margin: 0%;
       position: absolute;
       display: none;
       flex-direction: column;
       text-align: center;
       justify-content: center;
       z-index: 1;
       right: 0%;
       top: 0%;
       opacity: 0.8;
       transform: translateX(100%);
       transition: transform 0.5s ease-in;
   }

   .nav_links li, .home, .work, .about, .contactus{
       color: black;
       text-decoration: none;
       font-size: 150%;  
       display: flex;
       flex-direction: column;
       place-items: center;
   }

   .burger{
       display: block;
       position: absolute;
       right:2%;
       top: 2%;
       z-index: 2;
   }

   .burger:hover>div {
       background-color: white;
   }

   .nav-active{
       transform: translateX(0%);
   }

   .sub-nav-active{
        display: flex;
        transform: translateX(0%);
   }

   .cross{
       display:none;
       position: absolute;
       right:2%;
       top: 1%;
       z-index: 2;
       color: black;
       cursor: pointer;
   }

   .navi{
       position: static;
       background-color: none;
       height: 0vh;
       width: 0%;
       z-index: 10;
   }

   .workli li a{
       color: black;
       display: flex;
       flex-direction: column;
       height: 100%;
       justify-content: center;

   }

   .workcontent{
       display: none;
       flex-direction: column;
       z-index: 5;
       background-color: #F6F6F3;
       box-shadow: none;
       transform: translateX(100%);
       flex-wrap: nowrap;
    }

    .workcontent  li a{
        padding: 1vh;
        display: flex !important;
        flex-direction: column !important;
    }
        
        
    .workcontent a{
        position: static;
        display: flex !important;
        flex-direction: column !important;
    }

    .text{
        font-size: 2vw;
        line-height: 2em;
    }

  /* who page  */
   .who{
       display: block;
       height: auto;
       padding: 2em;
       margin: 0;
   }

       
   .who img{
       width: 100vw;
       height: auto;
       padding: 2em;
       padding-right: 6em;
       margin: 0;
       padding-bottom: 0%;
   }

   .text1{
        font-size: 2vh;
        padding-bottom: 1em;
        line-height: 1.5em;
        padding: 2em;
    }

        
    .text1 h7{
        font-size: 4vh;
        text-align: left;
        font-family: 'Playfair Display SC', serif;
        padding: 0em;
    }

    .text1 p{
        font-family: 'Playfair Display SC', serif;
        padding-top: 2em;
        text-align: left;
    }
    #who_btn{
        margin-top: 2em;
    }
  
   /* second page */
   .prewedding{
       display: block;
       padding: 2em;
       width: 100vw;
   }

   .prewedding img{
       object-fit: cover;
       width: 100vw;
       padding: 2em;
   }

   .pre_img1{
       max-width: 100%;
       height: auto;
       padding: 2em;
   }

   .pre_text{
       display: inline;
        font-size: 2vh;
        padding-bottom: 1em;
        line-height: 1.5em;
        padding: 2em;
            
    }
   
    .pre_text p{
        font-family: 'Playfair Display SC', serif;
        padding-top: 2em;
        padding: 2em;
        text-align: left;
    }

    .pre_text h7{
        font-size: 4vh;
        text-align: left;
        font-family: 'Playfair Display SC', serif;
    }

    #pre_1{
        padding: 0.3em;
        margin-top: 0.2em;
        margin-left: 1.4em;
    }

   /* third-page */
   
   .wedding{
    display: block;
    padding: 2em;
    width: 100vw;
   }

   .wed_text{
    display: inline;
    font-size: 2vh;
    padding-bottom: 1em;
    line-height: 1.5em;
    padding: 2em;
   }
   
   .wedding img{
    max-width: 100%;
    height: auto;
    padding: 2em;
   }

   #pre_2{
       transform: translateX(0%);
       padding: 0.3em;
   }

   section.wedding img:nth-child(1){
       height: auto;
       width: 100%;
       padding-left: 0%;
       padding-right: 0%;
       padding-top: 2%;
       margin-right: 0%;
   }
   
   section.wedding img:nth-child(3){
       height: auto;
       width: 100%;
       padding-left: 0%;
       padding-top: 3%;
       margin-right: 0%;
       padding-right: 0%;
       display: none;
   }

   /* maternity */

   .maternity{
    display: block;
    padding: 2em;
    width: 100vw;
   }

   .mat_text{
    font-size: 2vh;
    padding-bottom: 1em;
    line-height: 1.5em;
    padding: 2em;
    width: 100%;
   }
       
   section.maternity img:nth-child(1){
       height: auto;
       width: 100%;
       padding-left: 0%;
       padding-top: 2%;
       margin-right: 0%;
   }

   section.maternity img:nth-child(2){
       width: 100%;
       height: auto;
       padding-right: 0%;
       margin-top: 20px;
       grid-column: 3;
       grid-row: 1;
   }
   
   #mat_2{
      transform: translateX(20vw);
   }


   /* banner */
   .banner-container{
       display: block;   
   }

   .banner{
       display: flex;
       flex-direction: column;
       height: auto;
       width: 100%; 
       padding: 2em;
       margin: 0;
   }
       
   .logo_banner img{
       display: none;
   }

   .banner-container{
    padding: 1em;
   }

   .logo_banner{
       display: none;
   }

   #logobanner{
       display: none;
   }

   .banner1 h1{
       color: white;
       font-family: 'Caveat', cursive;
       font-size: 3vh;
       display: flex;
       justify-content: center;
       align-items: center;
       margin: 0px;
       padding: 0;
   }

   .banner1 p{
       color: white;
       font-family: 'Playfair Display SC', serif;
       font-size: 3vh;
       letter-spacing: 1vh;
       text-align: center; 
   }

   .banner2 h2{
       color: black;
       font-family: 'Playfair Display SC', serif;
       font-size: 3vh;
       letter-spacing: 1vh;
       vertical-align: center;
       text-align: center;
   }
       
   .banner1{
       display: block;
   }

   .banner2{
       display: block;
   }

   .divide1{
       display: none;
   }

   .divide2{
       display: none; 
   }

   #ban_2{
      text-align: center;
      transform: translateX(10vw);
      padding: 0.3em;
   }
   
   /* instagram */
       
   .swiper2{
       width: 100vw;
       height: 20vh;
       margin-bottom: -15vh;
   }

   /* footer */
.footer-distributed{
     vertical-align: center;
     text-decoration: none;
 } 

 .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    text-decoration: none;
}

.footer-distributed .footer-center{
    display: flex;
    justify-content: center;
    text-decoration: none;
}

#phno{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
}

.footer-right{
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 100%;
    text-decoration: none;
}

.footer-company-about{
    line-height: 0px;
    padding: 0px;
}

 
.footer-distributed .footer-company-about{
    width: 100%;
    color:  #ffffff;
    font-size: 2vh;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px 0px;
    word-spacing: 0;
    letter-spacing: 4px;
    text-decoration: none;
}

}


