/* MOBILE VERSION */
@media screen and (max-width: 900px){
     body {
        height: 100%;
        width: 100%;
        overflow-x:hidden;
        overflow: hidden;
    }

    html{
        overflow-x: hidden;
    }

    
    .logo{
        cursor: pointer;
        position: absolute;
        top: 0px;
        max-width: 150px;
        z-index: 3;
    }

    .nav_links{
        background-color: #F6F6F3;
        padding: 0%;
        width: 100%;
        height: 100%;
        margin: 0%;
        position: absolute;
        display: none;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        z-index: 1;
        right: 0%;
        top: 0%;
        opacity: 0.8;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav_links li, .home, .work, .about, .contactus{
        color: black;
        text-decoration: none;
        font-size: 150%;
    }

    .burger{
        display: block;
        position: absolute;
        right:2%;
        top: 1%;
        z-index: 2;
    }

    .burger:hover>div {
        background-color: white;
    }

    .nav-active{
        transform: translateX(0%);
    }

    .cross{
        display:none;
        position: absolute;
        right:2%;
        top: 1%;
        z-index: 2;
        color: black;
        cursor: pointer;
    }

    .workcontent a{
        color: black;
        display: flex;
        justify-content: center;
        font-size: 100%;
        justify-content: space-around;
    }

    .workcontent{
        position: absolute;
        right: 10%;
        top: 10%;
        z-index: 5;
        background-color: #F6F6F3;
        box-shadow: none;
     }

   /* who page  */
    .who{
        display: block;
    }

    
    #who_btn{
        margin-left: 10%;
    }

    /* second page */
    .prewedding{
        display: block;
        background-color: white;
        padding: 0px;
    }

    .prewedding img{
        padding: 0px;
    }

    #pre_1{
        margin-left: 10%;
    }

    /* third-page */
    
    .wedding{
        display: block;
        padding: 0%;
    }

    .wed_text{
        justify-content: center;
        text-align: center;
        padding: 0px;
        margin: 0px
    }
    
    .wedding img{
        height: auto;
        width: 100%;
        padding-left: 0%;
        padding-top: 2%;
        padding-right: 0px;
        margin-right: 0%;
    }

    #pre2{
        margin-left: 10%;
    }

    section.wedding img:nth-child(1){
        height: auto;
        width: 100%;
        padding-left: 0%;
        padding-right: 0%;
        padding-top: 2%;
        margin-right: 0%;
    }
    
    section.wedding img:nth-child(3){
        height: auto;
        width: 100%;
        padding-left: 0%;
        padding-top: 2%;
        margin-right: 0%;
        padding-right: 0%;
    }

    /* maternity */

    .maternity{
        display: block;
        padding: 0px;
        padding-bottom: 10vh;
    }
        
    section.maternity img:nth-child(1){
        height: auto;
        width: 100%;
        padding-left: 0%;
        padding-top: 2%;
        margin-right: 0%;
    }

    section.maternity img:nth-child(2){
        width: 100%;
        height: 70vh;
        padding-right: 0%;
        margin-top: 20px;
        grid-column: 3;
        grid-row: 1;
    }
    
    #mat_2{
        margin-right: 0%;
    }
    /* banner */
    .banner-container{
        display: block;
       
    }
    .banner{
        display: block;
        height: auto;
        width: 100%;
        
    }
        
    .logo_banner img{
        height: 20vh;
        width: auto;
        padding: 0px;
        padding-bottom: 0px;
    }

    .logo_banner{
        padding-bottom: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner1 h1{
        color: white;
        font-family: 'Caveat', cursive;
        font-size: 3vh;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .banner1 p{
        color: white;
        font-family: 'Playfair Display SC', serif;
        font-size: 3vh;
        letter-spacing: 1vh;
        text-align: start;
    }

    .banner2 h2{
        color: white;
        font-family: 'Playfair Display SC', serif;
        font-size: 3vh;
        display: flex;
        flex-direction: column;
        letter-spacing: 1vh;
        justify-content: center;
        text-align: center;
    }
        
    .banner1{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        transform: translateY(45%);
        transform: translateX(30%);
        padding: 20px;
    }
    .banner2{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 0px;
        padding-top: 100px;
    }

    .divide1{
        border-bottom: 2px solid white;
        height: 18vh;
        border-left: 0px;
    }
    .divide2{
        border-bottom: 2px solid white;
        border-left: 0px;
        height: 18vh;
        padding: 2vh; 
    }
    #ban_2{
        text-align: center;
        /* transform: translateX(45%); */
    }

}