/* MOBILE VERSION */
@media screen and (max-width: 900px) {
      
   body {
    width: 100%;
        height: auto;
       overflow-x:hidden;
       overflow: hidden;
   }

   html{
       overflow-x: hidden;
   }

   
   .logo{
       cursor: pointer;
       position: absolute;
       top: 0px;
       max-width: 150px;
       z-index: 3;
   }

   .nav_links{
       background-color: #F6F6F3;
       padding: 0%;
       width: 100%;
       height: 100%;
       margin: 0%;
       position: absolute;
       display: none;
       flex-direction: column;
       text-align: center;
       justify-content: center;
       z-index: 1;
       right: 0%;
       top: 0%;
       opacity: 0.8;
       transform: translateX(100%);
       transition: transform 0.5s ease-in;
   }

   .nav_links li, .home, .work, .about, .contactus{
       color: black;
       text-decoration: none;
       font-size: 150%;
   }

   .burger{
       display: block;
       position: absolute;
       right:2%;
       top: 2%;
       z-index: 2;
   }

   .burger:hover>div {
       background-color: white;
   }

   .nav-active{
       transform: translateX(0%);
   }

   .cross{
       display:none;
       position: absolute;
       right:2%;
       top: 1%;
       z-index: 2;
       color: black;
       cursor: pointer;
   }

   .navi{
       position: static;
       background-color: none;
       height: 0vh;
       width: 0%;
       z-index: 10;
   }

   .workli li a{
       color: black;
       display: flex;
       flex-direction: column;
       justify-content: center;
       font-size: 100%;
   }

   .workcontent{
       position: absolute;
       right: 10%;
       top: 10%;
       z-index: 5;
       background-color: #F6F6F3;
       box-shadow: none;
    }

  /* who page  */
   .who{
       display: block;
   }

   #who_btn{
       margin-left: -5%;
   }

       
   .who img{
       grid-column: 1/3;
       width: 100vw;
       height: auto;
       padding: 10%;
   }

   /* second page */
   .prewedding{
       display: flex;
       flex-direction: column;
       background-color: white;
       padding: 0px;
   }

   .prewedding img{
       padding: 0px;
       object-fit: fill;
   }

   .pre_img1{
       max-width: 100%;
       height: auto;
       grid-column: 1;
       padding: 2em;
       grid-row: 1/ span 3;
   }


   /* third-page */
   
   .wedding{
       display: block;
       padding: 0%;
   }

   .wed_text{
       justify-content: center;
       text-align: center;
       padding: 0px;
       margin: 0px
   }
   
   .wedding img{
       height: auto;
       width: 100%;
       padding-left: 0%;
       padding-top: 2%;
       padding-right: 0px;
       margin-right: 0%;
   }

   #pre_2{
       transform: translateX(60%);
   }

   section.wedding img:nth-child(1){
       height: auto;
       width: 100%;
       padding-left: 0%;
       padding-right: 0%;
       padding-top: 2%;
       margin-right: 0%;
   }
   
   section.wedding img:nth-child(3){
       height: auto;
       width: 100%;
       padding-left: 0%;
       padding-top: 0%;
       margin-right: 0%;
       padding-right: 0%;
   }

   /* maternity */

   .maternity{
       display: block;
       padding-bottom: 10vh;
       display: flex;
       flex-direction: column;
       text-align: center;
       justify-content: center;
       padding: 0;
   }

   .mat_text{
       grid-column: 2;
       display: flex;
       flex-direction: column;
       justify-content: center;
       text-align: center;
       padding-right: 10%;
       grid-column: 2;
       font-size: 3vh;
       background-color: #F6F6F3;
       padding-left: 10%;
   }
       
   section.maternity img:nth-child(1){
       height: auto;
       width: 100%;
       padding-left: 0%;
       padding-top: 2%;
       margin-right: 0%;
   }

   section.maternity img:nth-child(2){
       width: 100%;
       height: auto;
       padding-right: 0%;
       margin-top: 20px;
       grid-column: 3;
       grid-row: 1;
   }
   
   #mat_2{
      transform: translateX(50%);
   }


   /* banner */
   .banner-container{
       display: flex;
       flex-direction: column;
       height: auto;
       justify-content: center; 
       align-items: center;
       vertical-align: start;
       padding: 0;
       margin: 0;
   }

   .banner{
       display: flex;
       flex-direction: column;
       height: auto;
       width: 100%; 
       padding: 0;
       margin: 0;
   }
       
   .logo_banner img{
       display: none;
   }

   #logobanner{
       display: none;
   }

   .banner1 h1{
       color: white;
       font-family: 'Caveat', cursive;
       font-size: 3vh;
       display: flex;
       justify-content: center;
       align-items: center;
       margin: 0px;
       padding: 0;
   }

   .banner1 p{
       color: white;
       font-family: 'Playfair Display SC', serif;
       font-size: 3vh;
       letter-spacing: 1vh;
       text-align: start;
       padding: 0vh;
   }
   .banner2{
    display: flex;
    margin: 0vh;
       padding: 0vh;
       display: flex;
       flex-direction: column;
   }
   .banner2 h2{
       color: black;
       background-color: red;
       font-family: 'Playfair Display SC', serif;
       font-size: 3vh;
       letter-spacing: 1vh;
       vertical-align: center;
       text-align: center;
       
   }
       
   .banner1{
       display: flex;
       justify-content: center;
       flex-direction: column;
       text-align: center;
    align-items: end;
       padding: 0px;
       margin-bottom: 0%;
       margin-top: -30%;
       background-color: blue;
   }

   .banner2{
       display: flex;
       justify-content: center;
       align-items: center;
       text-align: center;
       margin-bottom: 0px;
       padding-top: 100px;
   }

   .divide1{
       display: none;
   }

   .divide2{
       display: none; 
   }

   #ban_2{
       text-align: center;
       transform: translateX(40%);
       margin-top: 10px;
       margin-bottom: 30px;
   }
   
   /* instagram */
       
   .swiper2{
       width: 100vw;
       height: 20vh;
       margin-bottom: -15vh;
   }

   /* footer */
.footer-distributed{
     vertical-align: center;
     text-decoration: none;
 } 

 .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.footer-distributed .footer-center{
    display: flex;
    justify-content: center;
}

#phno{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
}

.footer-right{
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 100%;
    text-decoration: none;
}

.footer-company-about{
    line-height: 0px;
    padding: 0px;
}

 
.footer-distributed .footer-company-about{
    width: 100%;
    color:  #ffffff;
    font-size: 2vh;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px 0px;
    word-spacing: 0;
    letter-spacing: 4px;
    text-decoration: none;
}

}