* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

html{
   min-height: 100%;
   width: 100%;
}

body{
    overflow-x: visible;
    min-height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}


.swiper-slide {
    text-align: center;
    font-size: 18px;
      /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    overflow-x: hidden;
  }

.swiper1{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(
    rgba(0, 0, 0, 2),
    rgba(0, 0, 0, 2))
} 

.swiper-wrapper img{
    object-fit: cover;
    height: auto;
  
}

.swiper-wrapper{
    display: flex;
}

.swiper-wrapper img{
    object-fit: stretched;
  
}

.swiper-slide img{
   width: 100%;
   height: 100vh;
   z-index: -1;
}

/* setting font size to accomodate different screen sizes */
html{
    font-size: 62.5%;
    background-color: #F6F6F3;
}

li,a{
    font-size: 2.3vh;
    letter-spacing: 3px;
}

header{
    display:flex;
    justify-content: space-between;
}

.logo{
    cursor: pointer;
    position: absolute;
    top: 0%;
    left: 0%;
    margin: 0px;
    padding: 0px;
    height: 10vh;
    max-width: 30vh;
    vertical-align: top;
    z-index: 100;
}

.nav_links{
    position: absolute;
    right: 2%;
    z-index: 100;
}

.nav_links li {
    list-style: none;
}

.nav_links li, .home, .work, .about, .contactus{
    display: inline-block;
    padding: 2vh;
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 1.4em;
}

.burger{
    display: none;
}

.burger div{
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 5px;
    border-radius: 30px;
}

.cross{
    display:none;
    font-size:30px;
    color: black;
}

.workli  li a{
    padding: 0.4em;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1em;
}

.workcontent {
    display: none;
    box-shadow: 9px 0px 10px -12px rgba(0,0,0,0.73);
}

.work{ 
    cursor: pointer;
    display: flex;
    flex-direction: column-reverse;
}

.workcontent-display{
    position: absolute;
    display: flex;
    flex-direction: column; 
    color: white;
}

.workcontent a{
    position: relative;
}

.nav_links li::before{
    content:'';
    position: absolute;
    width: 100%;
    transform:scaleX(0);
    height: 2px;
    left:0;
    background-color:white;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}


.work:hover + ul, .workcontent:hover{
    position: absolute;
    display: flex;
    flex-direction: column; 
    color: white;
}

.nav_links li:hover::before{
    transform: scale(1);
    transform-origin: bottom left;
}

.navi{
    position: fixed;
    background-color:rgb(246,246,299, 0.6);
    height: 0vh;
    width: 100%;
    z-index: 100;
}

.navi-active{
    height: 11vh;
}

.navi-active2{
    color: black !important;
} 


/* grid view */
.grid{
    display: grid;
    grid-template-columns: repeat(autofill, minmax(60vh, 1fr));
    grid-template-rows: repeat(autofill, minmax(60vh, 1fr));
    grid-template-areas: 
    "who"
    "pre_wed"
    "wed"
    "banner"
    "mat"
    "insta"
    "footer";
}

.text{
    text-align: center;
    padding: 3em;
    font-size: 4vh;
    font-weight: lighter;
    letter-spacing: 0.1vw;
    word-spacing: 0.4vw;
}

/* who we are */

.who{
    grid-area: who;
    display: grid;
    grid-template-columns: repeat(autofit, minmax(700px, 1fr));
    justify-content: stretched;
    padding: 15em;
    padding-top: 2em;
    margin: 0;
    max-width: 100vw;
}

.who img{
    grid-column: 1/span 5;
    height: auto;
    padding: 1em;
    display: block;
    grid-row: 1;
}

.text1{
    grid-column: 6;
    grid-row: 1;
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    padding-left: 2em;
    line-height: 4vh;
}

.text1 h7{
    font-size: 4vh;
    text-align: left;
    font-family: 'Playfair Display SC', serif;
    padding: 0em;
}

.text1 p{
    font-family: 'Playfair Display SC', serif;
    padding-top: 2em;
    text-align: left;
}

#who_btn{
    margin-top: 1em;
    padding: 0.5em;
}

/* second page */

.prewedding{
    grid-area: pre_wed;
    display: grid;
    grid-template-columns: repeat(autofit, minmax(700px, 1fr));
    grid-template-rows: 1fr;
    padding: 4em 10em;
    background-size: contain;
}

.pre_img1{
    width: 60vw;
    height: auto;
    grid-column: 1/span 3;
    grid-row: 1/span 3;
    padding: 1em;
    object-fit: cover;
}

.pre_text{
    font-size: 1.5vh;
    grid-column: 4;
    grid-row: 1/span 2;
    font-family: 'Playfair Display SC', serif;
    background-clip: border-box;
    width: 20vw;
    line-height: 4vh;
    padding-top: 3em;
}

.pre_text h7{
    font-size: 4vh;
    text-align: left;
    font-family: 'Playfair Display SC', serif;
    z-index: 100;
}

.pre_text p{
    font-family: 'Playfair Display SC', serif;
    
}

.pre_button{
    text-align: center;
    border: 1px solid black;
    background-color: #F6F6F3;
    margin: 1px;
    color: black;
    font-size: 3vh;
    width: 8em;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    transition: 0.8s;
    overflow: hidden;
}

.pre_button:hover{
    background-color:#5f5f5f ;
    color: white;
}

.pre_button p{
    z-index: 1;
}

#pre_1{
    padding: 0.3em;
    margin-top: 0.5em;
}

#pre_1:hover{
    background-color:#5f5f5f ;
    color: white;
}


/* third page */
.wedding{
    grid-area: wed;
    display: grid;
    padding: 4em 10em;
    grid-template-columns: 6fr 1r 1fr 6fr; 
    grid-template-rows: 1fr;
}


section.wedding img:nth-child(1){
    grid-column: 1/ 2;
    width: 100%;
    height: auto;
    grid-row: 1;
    display: block;
    object-fit: cover;
}

.wed_text{
    font-size: 1.5vh;
    grid-column: 4;
    grid-row: 2/3;
    font-family: 'Playfair Display SC', serif;
    background-clip: border-box;
    width: 20vw;
    line-height: 4vh;
    padding-left: 1em;
    padding-right: 1em;
    z-index: 1000;
}

section.wedding img:nth-child(3){
    width: 100%;
    height: auto;
    grid-column: 3/ 5;
    grid-row: 1;
    object-fit: cover;
}

#pre_2{
    background-color: #F6F6F3;
    margin-left: 40px;
}

#pre_2:hover{
    background-color:#5f5f5f;
    color: white;
}

.wed_text p{
    font-family: 'Playfair Display SC', serif;
    padding: 1.2em;
}

.wed_text h1{
    font-size: 4vh;
    text-align: center;
    font-family: 'Playfair Display SC', serif;
}


/* banner */
.banner-container{
    grid-area: banner;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-size: cover;
    flex-wrap: wrap;
    background-color:  #33383b;
}

.banner{
    height: 20vh;
    width: 100%;
}

.logo_banner{
    height: 18vh;
    width: auto;
}

.banner1{
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.banner2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    padding: 0px;
}

.banner1 h1{
    color: white;
    font-family: 'Playfair Display SC', serif;
    font-size: 3vh;

}

.banner1 p{
    color: white;
    font-family: 'Playfair Display SC', serif;
    font-size: 2vh;
    text-transform: lowercase;
    position: static;
    letter-spacing: 1vh;
}

.banner2 h2{
    color: white;
    font-family: 'Playfair Display SC', serif;
    font-size: 2vh;
    display: flex;
    flex-direction: column;
    letter-spacing: 1vh;
}

.divide1{
    border-left: 2px solid white;
    height: 18vh;
    padding: 0vh; 
}

.divide2{
    border-left: 1px solid black;
    height: 18vh;
    padding: 0vh; 
}

/* fourth page */

.maternity{
    grid-area: mat;
    padding: 0em 10em;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 100px;
}

section.maternity img:nth-child(1){
    height: auto;
    width: 100%;
    grid-column: 1;
    grid-row: 1;
    object-fit: cover;
}

section.maternity img:nth-child(2){
    width: 100%;
    height: auto;
    grid-column: 3;
    grid-row: 1;
    object-fit: cover;
}

.mat_text{
    font-size: 1.5vh;
    grid-column: 2;
    grid-row: 2/3;
    font-family: 'Playfair Display SC', serif;
    background-clip: border-box;
    width: 20vw;
    line-height: 4vh;
    padding-left: 1em;
    padding-right: 1em;
    z-index: 1000;
}

.mat_foot{
    display: flex;
    flex-direction: column;
}

#mat_2{
    background-color: #F6F6F3;
    transform: translateX(30%);
}

#mat_2:hover{
    background-color:#5f5f5f ;
    color: white;
}

.mat_text p{
    padding: 1.2em;
}
.mat_text h1{
    font-size: 4vh;
    text-align: start;
    font-family: 'Playfair Display SC', serif;
    line-height: 4.5vh;
    z-index: 100;
    text-align: center;
}

/* sixth page */

.instag{
    grid-area: insta;
    padding: 0px;
    padding-bottom: 20vh;
    background-color:  white;
}

.swiper-container{
    width: 100%;
    height: 100%;
}

.swiper-slide img{
    object-fit: center;
}

.swiper2{
    width: 100vw;
    height: 30vh;
}

.insta_img{
    border-radius: 8px;
    filter: grayscale(60%);
    object-fit: fill;
}

.swiper-slider{
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.insta_update{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 1em;
    padding-left: 20%;
    font-family: 'Playfair Display SC', serif;  
}
  

.insta_update p img{
    height: 2vh;
}

/* footer */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);
  
 .foot-contain {
    font-family: Open Sans;
    grid-area: footer;
    width: 100%;
    display: inline-block;
    background: #333;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    text-decoration: none;
  }
  
  .footer-distributed{
      grid-area: footer;
      background: #666;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
      box-sizing: border-box;
      width: 100%;
      text-align: left;
      font: bold 2vh sans-serif;
      padding: 55px 50px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
      display: inline-block;
      vertical-align: top;
  }
  
  /* Footer left */
  
  .footer-distributed .footer-left{
      width: 40%;
  }
  
  /* The company logo */
  
  .footer-distributed h3{
      color:  #ffffff;
      font: normal 2vh 'Open Sans', cursive;
      margin: 0;
  }
  
  .footer-distributed h3 span{
      color:  lightseagreen;
  }
  
  /* Footer links */
  
  .footer-distributed .footer-links{
      color:  #ffffff;
      margin: 20px 0 12px;
      padding: 0;
  }
  
  .footer-distributed .footer-links a{
      display:inline-block;
      line-height: 1.8;
      font-weight:400;
      text-decoration: none;
      color:  inherit;
  }
  
  .footer-distributed .footer-company-name{
      color:  #222;
      font-size: 2vh;
      font-weight: normal;
      margin: 0;
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center{
      width: 35%;
  }
  
  .footer-distributed .footer-center i{
      background-color:  #33383b;
      color: #ffffff;
      font-size: 2vh;
      width: 4vh;
      height: 4vh;
      border-radius: 50%;
      text-align: center;
      line-height: 4vh;
      margin: 10px 15px;
      vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope{
      font-size: 2vh;
      line-height: 4vh;
  }
  
  .footer-distributed .footer-center p{
      display: inline-block;
      color: #ffffff;
      font-weight:400;
      vertical-align: middle;
      margin:0;
  }
  
  .footer-distributed .footer-center p span{
      display:block;
      font-weight: normal;
      font-size: 2vh;
      line-height:2vh;
  }
  
 #phno{
    font-size: 2vh;
  }


  .footer-distributed .footer-center p a{
      color:  lightseagreen;
      text-decoration: none;
  }
  
  .footer-distributed .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 2vh;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  /* Footer Right */
  
  .footer-distributed .footer-right{
      width: 20%;
  }
  
  .footer-distributed .footer-company-about{
      line-height: 3vh;
      color:  #92999f;
      font-size: 2vh;
      font-weight: normal;
      margin: 0;
      text-decoration: underline;
  }
  
  .footer-distributed .footer-company-about span{
      display: block;
      color:  #ffffff;
      font-size: 2vh;
      font-weight: bold;
      margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons{
      margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a{
      display: inline-block;
      width: 4vh;
      height: 4vh;
      cursor: pointer;
      background-color:  #33383b;
      border-radius: 2px;
      font-size: 2vh;
      color: #ffffff;
      text-align: center;
      line-height: 4vh;
      margin-right: 3px;
      margin-bottom: 5px;
  }